<a href="https://colab.research.google.com/github/h-khandahari/parliament_data/blob/master/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Effect of unemployment on Hate Crime

## Import useful modules

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Download Datasets

In [2]:
!git clone https://github.com/h-khandahari/parliament_data.git

Cloning into 'parliament_data'...
remote: Enumerating objects: 34, done.
remote: Counting objects: 100% (34/34), done.
remote: Compressing objects: 100% (28/28), done.
remote: Total 34 (delta 7), reused 17 (delta 4), pack-reused 0
Unpacking objects: 100% (34/34), done.

In [8]:
cd parliament_data

/content/parliament_data

## Data Preparation

In [10]:
ls Data

Employment.xlsx  Hate_Crime.xlsx

### Unemployment Data

In [13]:
dataset1 = pd.read_excel('Data/Employment.xlsx', sheet_name="Unemployment", skiprows=5, usecols="B:Q", nrows=13, index_col=0)
dataset1

                   2004/05   2005/06   2006/07  ...   2016/17   2017/18   2018/19
North East          69.766    73.906    81.980  ...    91.052    69.448    72.694
North West         157.998   167.077   183.351  ...   178.495   157.336   139.791
Yorks and Humber   107.431   129.317   140.247  ...   131.808   129.389   120.828
East Midlands       91.637   103.027   115.537  ...   100.767    96.606   112.307
West Midlands      133.737   136.703   146.222  ...   153.240   143.912   132.756
East               108.251   114.092   128.994  ...   117.938   117.781   107.792
London             266.483   296.864   293.887  ...   273.364   241.713   239.556
South East         154.539   169.337   191.238  ...   177.903   158.648   153.803
South West          88.355    85.935    99.552  ...   108.117    93.540    85.566
Wales               64.909    71.252    75.247  ...    65.513    73.523    68.384
Scotland           134.414   140.135   136.999  ...   121.580   115.238   114.302
Northern Ireland    37.511    37.457    38.138  ...    49.222    36.683    29.712
UK                1415.000  1525.100  1631.400  ...  1569.000  1433.800  1377.500

[13 rows x 15 columns]

### Hate Crime Data

In [24]:
dataset2 = pd.read_excel('Data/Hate_Crime.xlsx', sheet_name="Police Force Offences Dashboard", skiprows=4, usecols="B:I", nrows=44, index_col=0)
dataset2 = dataset2.drop('England')
dataset2

                     2011/12  2012/13  2013/14  ...  2015/16  2016/17  2017/18
Police Force Area                               ...
Avon and Somerset       1241     1040     1179  ...     1428     2071     2357
Bedfordshire             266      274      280  ...      513      516      787
Cambridgeshire           338      224      276  ...      459      785      887
Cheshire                 293      438      542  ...      564      842     1014
Cleveland                307      328      302  ...      471      631      721
Cumbria                  194      142      164  ...      216      198      263
Derbyshire               440      400      356  ...      461      469      562
Devon and Cornwall       737      730      778  ...      561      740      932
Dorset                   226      155      145  ...      308      320      418
Durham                   227      169      181  ...      262      341      474
Essex                    739      840      842  ...      872     1440     1537
Gloucestershire          212      182      155  ...      226      263      326
Greater Manchester      2975     2729     2701  ...     3979     4391     6435
Hampshire                946      844      835  ...     1244     1646     1841
Hertfordshire            667      637      544  ...      761     1130     1136
Humberside               415      430      453  ...      403      641      702
Kent                     747      690      885  ...      955     1466     2467
Lancashire               766      625      765  ...      601      817     1561
Leicestershire           880      750      741  ...      614      882     1130
Lincolnshire             205      199      209  ...      211      256      266
London, City of           51       70       60  ...       87       93       66
Merseyside              1107     1047     1358  ...     1700     2161     1909
Metropolitan Police     7983     9383     9749  ...    13298    15923    15471
Norfolk                  347      266      260  ...      417      517      558
North Yorkshire          154      164      167  ...      186      235      276
Northamptonshire         456      370      303  ...      419      425      591
Northumbria              557      489      582  ...     1043     1609     1785
Nottinghamshire          635      513      690  ...      699      980     1176
South Yorkshire          443      502      547  ...      798     1288     1683
Staffordshire            645      646      727  ...      858     1096     1198
Suffolk                  351      376      411  ...      337      457      565
Surrey                   532      479      352  ...      742     1055     1179
Sussex                   520      564      752  ...     1175     1437     1437
Thames Valley           1237     1105     1115  ...     1299     1474     1909
Warwickshire             262      230      174  ...      273      448      497
West Mercia              568      502      452  ...      620      903      870
West Midlands           2531     2460     2604  ...     3291     3843     4151
West Yorkshire          1842     1668     1651  ...     3054     4111     4689
Wiltshire                185      278      234  ...      382      441      442
Dyfed-Powys               80       73       65  ...       88      107      171
North Wales              359      325      282  ...      275      336      467
South Wales              746      811      878  ...     1245     1355     1263
Gwent                    183      189      187  ...      139      282      397

[43 rows x 7 columns]

## Preparing data

In [0]:
pfa_to_region = {"Avon and Somerset": "South West",
                 "Bedfordshire": "East",
                 "Cambridgeshire": "East",
                 "Cheshire": "North West",
                 "Cleveland": "North East",
                 "Cumbria": "North West",
                 "Derbyshire": "East Midlands",
                 "Devon and Cornwall": "South West",
                 "Dorset": "South West",
                 "Durham": "North East",
                 "Essex": "East",
                 "Gloucestershire": "South West",
                 "Greater Manchester":"North West",
                 "Hampshire":"South East",
                 "Hertfordshire":"East",
                 "Humberside": "Yorks and Humber",
                 "Kent": "South East",
                 "Lancashire":"North West",
                 "Leicestershire": "East Midlands",
                 "Lincolnshire": "East Midlands",
                 "London, City of": "London",
                 "Merseyside": "North West",
                 "Metropolitan Police": "London",
                 "Norfolk": "East",
                 "North Yorkshire": "Yorks and Humber",
                 "Northamptonshire": "East Midlands",
                 "Northumbria": "North East",
                 "Nottinghamshire": "East Midlands",
                 "South Yorkshire": "Yorks and Humber",
                 "Staffordshire": "West Midlands",
                 "Suffolk": "East",
                 "Surrey": "South East",
                 "Sussex": "South East",
                 "Thames Valley": "South East",
                 "Warwickshire": "West Midlands",
                 "West Mercia": "West Midlands",
                 "West Midlands": "West Midlands",
                 "West Yorkshire":"Yorks and Humber",
                 "Wiltshire": "South West",
                 "Dyfed-Powys": "Wales",
                 "North Wales": "Wales",
                 "South Wales": "Wales",
                 "Gwent": "Wales"}

In [0]:
get_regions = [pfa_to_region[i] for i in dataset3.index]
get_regions

In [0]:
dataset3 = dataset2.copy()
dataset3['Region'] = get_regions
dataset3

In [33]:
dataset4 = dataset3.groupby('Region').sum()
dataset4

                  2011/12  2012/13  2013/14  2014/15  2015/16  2016/17  2017/18
Region
East                 2708     2617     2613     3189     3359     4845     5470
East Midlands        2616     2232     2299     2413     2404     3012     3725
London               8034     9453     9809    11594    13385    16016    15537
North East           1091      986     1065     1398     1776     2581     2980
North West           5335     4981     5530     6211     7060     8409    11182
South East           3982     3682     3939     4508     5415     7078     8833
South West           2601     2385     2491     2741     2905     3835     4475
Wales                1368     1398     1412     1677     1747     2080     2298
West Midlands        4006     3838     3957     4357     5042     6290     6716
Yorks and Humber     2854     2764     2818     3137     4441     6275     7350