<a href="https://colab.research.google.com/github/h-khandahari/parliament_data/blob/master/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Effect of unemployment on Hate Crime

## Import useful modules

In [4]:
ls

CBP7950_Profile_tool.xlsx    Hate-Crime-Appendices.xlsx    sample_data/
CBP7950_Profile_tool.xlsx.1  Hate-Crime-Appendices.xlsx.1

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Download Datasets

In [3]:
!wget http://researchbriefings.files.parliament.uk/documents/CBP-7950/CBP7950_Profile_tool.xlsx
!wget http://researchbriefings.files.parliament.uk/documents/CBP-8537/Hate-Crime-Appendices.xlsx

--2019-09-18 17:00:51--  http://researchbriefings.files.parliament.uk/documents/CBP-7950/CBP7950_Profile_tool.xlsx
Resolving researchbriefings.files.parliament.uk (researchbriefings.files.parliament.uk)... 104.17.150.48, 104.17.151.48, 2606:4700::6811:9630, ...
Connecting to researchbriefings.files.parliament.uk (researchbriefings.files.parliament.uk)|104.17.150.48|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://researchbriefings.files.parliament.uk/documents/CBP-7950/CBP7950_Profile_tool.xlsx [following]
--2019-09-18 17:00:51--  https://researchbriefings.files.parliament.uk/documents/CBP-7950/CBP7950_Profile_tool.xlsx
Connecting to researchbriefings.files.parliament.uk (researchbriefings.files.parliament.uk)|104.17.150.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 201301 (197K) [application/octet-stream]
Saving to: ‘CBP7950_Profile_tool.xlsx.1’

CBP7950_Profile_too 100%[===================>] 196.58K  --.-KB/s    in 0.02s

2019-09-18 17:00:52 (7.80 MB/s) - ‘CBP7950_Profile_tool.xlsx.1’ saved [201301/201301]

--2019-09-18 17:00:53--  http://researchbriefings.files.parliament.uk/documents/CBP-8537/Hate-Crime-Appendices.xlsx
Resolving researchbriefings.files.parliament.uk (researchbriefings.files.parliament.uk)... 104.17.150.48, 104.17.151.48, 2606:4700::6811:9630, ...
Connecting to researchbriefings.files.parliament.uk (researchbriefings.files.parliament.uk)|104.17.150.48|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://researchbriefings.files.parliament.uk/documents/CBP-8537/Hate-Crime-Appendices.xlsx [following]
--2019-09-18 17:00:53--  https://researchbriefings.files.parliament.uk/documents/CBP-8537/Hate-Crime-Appendices.xlsx
Connecting to researchbriefings.files.parliament.uk (researchbriefings.files.parliament.uk)|104.17.150.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205202 (200K) [application/octet-stream]
Saving to: ‘Hate-Crime-Appendices.xlsx.1’

Hate-Crime-Appendic 100%[===================>] 200.39K  --.-KB/s    in 0.02s

2019-09-18 17:00:53 (7.97 MB/s) - ‘Hate-Crime-Appendices.xlsx.1’ saved [205202/205202]

## Data Preparation

### Unemployment Data

In [5]:
dataset1 = pd.read_excel('CBP7950_Profile_tool.xlsx', sheet_name="Unemployment", skiprows=5, usecols="B:Q", nrows=13, index_col=0)
dataset1

                   2004/05   2005/06   2006/07  ...   2016/17   2017/18   2018/19
North East          69.766    73.906    81.980  ...    91.052    69.448    72.694
North West         157.998   167.077   183.351  ...   178.495   157.336   139.791
Yorks and Humber   107.431   129.317   140.247  ...   131.808   129.389   120.828
East Midlands       91.637   103.027   115.537  ...   100.767    96.606   112.307
West Midlands      133.737   136.703   146.222  ...   153.240   143.912   132.756
East               108.251   114.092   128.994  ...   117.938   117.781   107.792
London             266.483   296.864   293.887  ...   273.364   241.713   239.556
South East         154.539   169.337   191.238  ...   177.903   158.648   153.803
South West          88.355    85.935    99.552  ...   108.117    93.540    85.566
Wales               64.909    71.252    75.247  ...    65.513    73.523    68.384
Scotland           134.414   140.135   136.999  ...   121.580   115.238   114.302
Northern Ireland    37.511    37.457    38.138  ...    49.222    36.683    29.712
UK                1415.000  1525.100  1631.400  ...  1569.000  1433.800  1377.500

[13 rows x 15 columns]

### Hate Crime Data

In [0]:
/content/Hate-Crime-Appendices.xlsx

In [15]:
sheetname['B2'] = str

In [8]:
import openpyxl

srcfile = openpyxl.load_workbook('/content/Hate-Crime-Appendices.xlsx',read_only=False, keep_vba= True)#to open the excel sheet and if it has macros

sheetname = srcfile.get_sheet_by_name('Police Force Offences Dashboard')#get sheetname from the file
sheetname['B2']= str('Transgender') #write something in B2 cell of the supplied sheet

srcfile.save('HateCrime2.xlsx')#save it as a new file, the original file is untouched and here I am saving it as xlsm(m here denotes macros).

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """

In [12]:
dataset2 = pd.read_excel('Hate-Crime-Appendices.xlsx', sheet_name="Police Force Offences Dashboard", skiprows=0, usecols="B:K", nrows=13, index_col=0)
dataset2

                                                   Unnamed: 2  ...                   Unnamed: 10
Select Hate Crime Strand                                       ...
Transgender                                               NaN  ...                           NaN
POLICE RECORDED HATE CRIME FIGURESa BY STRAND F...        NaN  ...                           NaN
England & Wales, 2011/12 to 2017/18                       NaN  ...                           NaN
Police Force Area                                     2011/12  ...  % change 2015/16  to 2017/18
Avon and Somerset                                          16  ...                      0.931818
Bedfordshire                                                1  ...                             0
Cambridgeshire                                              1  ...                         0.375
Cheshire                                                    5  ...                             1
Cleveland                                                   0  ...                       4.66667
Cumbria                                                     9  ...                     0.0416667
Derbyshire                                                  0  ...                             1
Devon and Cornwall                                          3  ...                           1.5
Dorset                                                      2  ...                             1

[13 rows x 9 columns]